#!/usr/bin/env bash

PATH_BASE="$(git rev-parse --show-toplevel)"
PATH_BIN="${PATH_BASE}/.bin"

PATH_TESTS="${PATH_BASE}/jaml"

export PATH_BASE PATH_BIN PATH_TESTS

main() {
  PATH_add "${PATH_BIN}"
}

main
